@{
    ViewBag.Title = "Contacts and Groups";
    ViewBag.ViewModelPath = "~/ViewModels/Main/Contacts";
    ViewBag.CurrentRoute = fMailer.Web.RouteNames.Contacts;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contactsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactsModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="contactsModalLabel" data-bind="text: modalHeader">
        </h3>
    </div>
    <div class="modal-body" style="max-height: 500px;" data-bind="">
        <!-- ko with: currentContact -->
        <input type="text" class="input-block-level" placeholder="Email" data-bind="value: Email" required maxlength="250" />
        <input type="text" class="input-block-level" placeholder="First name" data-bind="value: FirstName" required maxlength="250" />
        <input type="text" class="input-block-level" placeholder="Last name" data-bind="value: LastName" required maxlength="250" />
        <input type="text" class="input-block-level" placeholder="Middle name" data-bind="value: MiddleName" maxlength="250" />
        <p style="margin-bottom: 8px;">
            Groups:&nbsp;@*<span class="label"><a data-title="Help" data-content="For assign contact to group select one and press 'Enter'." href="#">?</a></span>*@
            <span data-bind="visible: Groups().length < 1" class="muted">No groups</span>
            <span data-bind="foreach: Groups" >
                <span class="label label-info">#<span data-bind="text: Name"></span><button class="close close-inlabel" data-bind="click: removeGroup">x</button></span>
            </span>
        </p>
        <!-- /ko -->
        <input class="input-block-level" type="text" placeholder="Group to assign"
                data-bind="typeahead: { target: selectedGroup, source: contextGroups }, enterPress: addGroup">
    </div>
    <div class="modal-footer">
        <div class="progress progress-striped active" style="height: 4px; margin: -9px 0px 5px 0px; display: none;" data-bind="visible: isBusy">
            <div class="bar" style="width: 100%;">
            </div>
        </div>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="enable: !isBusy()">Cancel</button>
        <button class="btn btn-info" data-bind="click: saveChanges, enable: !isBusy()">Save</button>
    </div>
</div>

<div id="confirmationModal" class="modal hide fade" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="confirmationModalLabel">Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the contact "<span data-bind="text: deleteCandidateName()" style="color: #0088CC"></span>"?
        </p>
    </div>
    <div class="modal-footer">
        <div class="progress progress-striped active" style="height: 4px; margin: -9px 0px 5px 0px; display: none;" data-bind="visible: isBusy">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-bind="click: cancelDelete, enable: !isBusy()">No</button>
        <button class="btn btn-danger" data-bind="click: confirmDelete, enable: !isBusy()">Yes, Delete</button>
    </div>
</div>

<div class="page-header">
    <h1 class="large">
        <img alt="Contacts and Groups" src="@Url.Content("~/Content/Images/User-Message.png")" />
        Contacts and Groups
    </h1>
</div>
<div class="row-fluid">
    <button class="btn btn-primary" title="Create new Template" data-bind="click: createNewContact">
        Create new Contact
    </button>
    <table class="table table-hover">
        <tbody data-bind="foreach: contacts">
            <tr>
                <td>
                    <div class="row-fluid">
                        <div class="span1 hidden-phone">
                            <img alt="Add template" src="@Url.Content("~/Content/Images/User-Message(d).png")" style="margin-top: 10px;" />
                        </div>
                        <div class="span11">
                            <h4>
                                <a href="#" data-bind="click: editContact">
                                    <span data-bind="text: LastName"></span>
                                    <span data-bind="text: FirstName"></span>
                                    <span data-bind="text: MiddleName"></span>
                                </a>
                                <span><strong>\</strong></span>
                                Email: 
                                <a data-bind="text: Email, attr: { href: 'mailto:'+Email() }"></a>
                                <button class="close pull-right" title="Delete template" data-bind="click: deleteContact">x</button>
                            </h4>
                            <p style="margin-bottom: 8px;">
                                Assigned groups:&nbsp;
                                <span data-bind="visible: Groups().length < 1" class="muted">No groups</span>
                                <span data-bind="foreach: Groups" >
                                    <span class="label label-info">#<span data-bind="text: Name"></span></span>
                                </span>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
