@{
    ViewBag.Title = "Templates";
    ViewBag.ViewModelPath = "~/ViewModels/Main/Templates";
    ViewBag.CurrentRoute = fMailer.Web.RouteNames.Templates;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="newTemplateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newTemplateModalLabel" aria-hidden="true" style=" width:800px; margin-left: -400px;">
    <div class="modal-header">
        <h3 id="newTemplateodalLabel" data-bind="text: modalHeader"></h3>
    </div>
    <div class="modal-body" style="max-height: 600px;" data-bind="with: currentTemplate">
        <input type="text" class="input-block-level" placeholder="Template name" data-bind="value: Name" />
        <input type="text" class="input-block-level" placeholder="Short description" data-bind="value: Description" />
        <textarea id="wysiwyg" class="input-block-level" style="height: 400px" data-bind="value: Text"></textarea>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-info" data-bind="click: saveChanges">Save</button>
    </div>
</div>

<div class="page-header">
    <h1 class="large"><img alt="Templates" src="@Url.Content("~/Content/Images/Mail write.png")" /> \ Templates</h1>
</div>
<div class="row-fluid">
    <button class="btn btn-primary" title="Create new Template" data-bind="click: openCreateTemplateModal">
        @*<img alt="Add template" src="@Url.Content("~/Content/Images/Add(C).png")" />*@
        Create new Template
    </button>
    <table class="table table-hover">
        <tbody data-bind="foreach: templates">
            <tr>
                <td>
                    <div class="row-fluid">
                        <div class="span1">
                            <img alt="Add template" src="@Url.Content("~/Content/Images/Mail Write(d).png")" style="margin-top: 30px;" />
                        </div>
                        <div class="span11">
                            <h3><a href="#" data-bind="text: Name, click: editTemplate"></a></h3>
                            <div data-bind="text: Description"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>    
</div>
