/* ------------------------------------------------------------------------
// <copyright file="Common.css" company="feafarot">
//   Copyright © 2012 feafarot
// </copyright>
// ------------------------------------------------------------------------
*/

@font-face 
{
    font-family: Segoe WP;
    src: url('Fonts/SegoeWP.ttf');
}
@font-face 
{
    font-family: Segoe WP Light;
    src: url('Fonts/SegoeWP-Light.ttf');
}
@font-face 
{
    font-family: Segoe WP Semilight;
    src: url('Fonts/SegoeWP-Semilight.ttf');
}
@font-face 
{
    font-family: Segoe WP Black;
    src: url('Fonts/SegoeWP-Black.ttf');
}
@font-face 
{
    font-family: Segoe WP Semibold;
    src: url('Fonts/SegoeWP-Semibold.ttf');
}
* {    
}
.nav li a img,
.navbar-text img
{
    height: 24px;
    width: 24px;
    margin: -5px 5px -5px;
}
.large 
{
    font-size: 50px;
}
.typeahead.dropdown-menu 
{
    z-index: 1056;
}
.close.close-inlabel 
{
    font-size: 16px;
    margin: -5px 0px 0px 3px;
}
.non-relative
{
    position: static;
}